main {
    text-align: center;
    margin: 0 auto;
    @include md {
        padding-left: $sidebar-width;
    }
    section {
        @include ls {
            padding-left: $sidebar-width;
        }
    }
    
}


#about {
    height: auto;
    p {
        margin-bottom: 15px;
    }
    @include md {
        p {
            margin-bottom: 25px;
        }
    }
    @include lg {
        p {
            max-width: 1000px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
    @include dm {
        p, h2 {
        color: $c-burger;
        }    
    }
}