main {
    text-align: center;
    margin: 0 auto;
    @include md {
        padding-left: $sidebar-width;
    }
    .containerid {
        margin: 0 auto;
        border-bottom: 4px solid lighten($c-burger-bg, 10%);
        padding: 50px 30px;
    }
}
#about {
    height: auto;
    p {
        margin-bottom: 15px;
    }
    @include md {
        p {
            margin-bottom: 25px;
        }
    }
    @include lg {
        p {
            max-width: 1000px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
}