#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    @include ls {
        padding: 0 auto;
    }
    @include dm {
        h2, address {
            color: $c-burger;
        }
    }
}
.info {
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    row-gap: 10px;
    #fmessage {
        flex-grow: 2;
        font-family: "Plus Jakarta Sans", sans-serif;
        height: 200px;
    }
    input,
    textarea,
    button {
        height: 50px;
        padding: 0 15px;
        font-size: 20px;
        color: darken($c-sidebar, 20%);
        box-shadow: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        &:focus-visible {
            outline-color: rgba($c-sidebar, 0.5);
            outline-style: inset;
            box-shadow: 0px 2px 2px $c-sidebar;
            @include dm {
                    outline-color: $c-burger;
            }
        }
            @include dm {
                color: $c-burger;
            }
    }
    
}
@include lg {
    #contact {
        min-height: 90vh;
    }
    .form {
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        margin: 0 auto;
        padding: 10px 0;
        gap: 10px;
        align-items: flex-end;
    }
    #ffname,
    #flname,
    #femail,
    #fsubject {
        flex: 45%;
    }
    button {
        width: 90vw;
    }
    #fmessage {
        height: 300px;

    }
}
//form labels for screen readers but hidden from view
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
    white-space: nowrap; 
}
//form container
.formcont {
    background-color: rgba($c-sidebar, 0.25);
    padding: 32px;
    margin-bottom: 48px;
    border-radius: 4px;
    // box-shadow: 0 4px 16px rgba($c-burger-bg-hov, 0.15);
    max-width: 700px;
    @include lg {
        margin: 0 auto;
        margin-bottom: 48px;
    }
    @include xl {
        max-width: 900px;
    }
    @include ls {
        margin: 0 auto;
        width: 80vw;
    }
}