#contact {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: auto;
}
.info {
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    row-gap: 10px;
    #fmessage {
        flex-grow: 2;
        font-family: "Open Sans", sans-serif;
        height: 200px;
    }
    input,
    textarea,
    button {
        height: 50px;
        padding: 0 15px;
        font-size: 25px;
        color: darken($c-sidebar, 20%);
        &:focus-visible {
            outline-color: $c-sidebar;
            outline-style: inset;
            box-shadow: 0px 2px 2px $c-sidebar;
        }
    }
}
@include lg {
    #contact {
        height: 90vh;
    }
    .form {
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1000px;
        margin: 10px auto;
        padding: 10px 0;
        gap: 10px;
        align-items: flex-end;
    }
    #ffname,
    #flname,
    #femail,
    #fsubject {
        flex: 45%;
    }
    button {
        width: 90vw;
    }
    #fmessage {
        height: 300px;

    }
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
    white-space: nowrap; 
}