#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    @include dm {
        h2, address {
            color: $c-burger;
        }
    }
}
//information before form starts
.info {
    margin-bottom: 20px;
}
#form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    row-gap: 10px;
    #message {
        flex-grow: 2;
        font-family: "Plus Jakarta Sans", sans-serif;
        max-height: 300px;
    }
    .input-control {
        input,
        textarea {
            height: 50px;
            padding: 0 15px;
            font-size: 20px;
            color: darken($c-sidebar, 20%);
            box-shadow: none;
            font-family: "Plus Jakarta Sans", sans-serif;
            width: 100%;
            &:focus-visible {
                outline-color: rgba($c-sidebar, 0.5);
                outline-style: inset;
                box-shadow: 0px 2px 2px $c-sidebar;
                @include dm {
                        outline-color: $c-burger;
                }
            }
                @include dm {
                    color: $c-burger;
                }
        }
    }
    #fmessage {
        height: 100%;
    }
    button {
        height: 50px;
        padding: 0 15px;
        font-size: 20px;
        color: darken($c-sidebar, 20%);
        box-shadow: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        &:focus-visible {
            outline-color: rgba($c-sidebar, 0.5);
            outline-style: inset;
            box-shadow: 0px 2px 2px $c-sidebar;
            @include dm {
                    outline-color: $c-burger;
            }
        }
            @include dm {
                color: $c-burger;
            }
    }
}
@include lg {
    #contact {
        min-height: 90vh;
    }
    #form {
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        margin: 0 auto;
        padding: 10px 0;
        gap: 10px;
        align-items: flex-end;
    }
    #first-name,
    #last-name,
    #email,
    #subject {
        flex: 45%;
    }
    button {
        width: 90vw;
    }
    #fmessage {
        height: 100%;

    }
}
//form labels for screen readers but hidden from view
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
    white-space: nowrap; 
}
//form container
.formcont {
    background-color: rgba($c-sidebar, 0.25);
    padding: 32px;
    margin-bottom: 48px;
    border-radius: 4px;
    // box-shadow: 0 4px 16px rgba($c-burger-bg-hov, 0.15);
    max-width: 700px;
    max-height: 650px;
    @include lg {
        margin: 0 auto;
        margin-bottom: 48px;
    }
    @include xl {
        max-width: 900px;
    }
    @include ls {
        margin: 0 auto;
        width: 500px;
    }
}

// form html before

// <div class="formcont">
//                 <form action="#" method="post">
//                     <div class="form">
//                         <label for="ffname" class="hidden">First Name</label>
//                         <input type="text" id="ffname" name="first-name" autocomplete="given-name" placeholder="First Name" />
                        

//                         <label for="flname" class="hidden">Last Name</label>
//                         <input type="text" id="flname" name="last-name" autocomplete="family-name" placeholder="Last Name" />

//                         <label for="femail" class="hidden">Email Address</label>
//                         <input type="email" id="femail" name="email" autocomplete="email" placeholder="Email Address" />

//                         <label for="fsubject" class="hidden">Subject</label>
//                         <input type="text" id="fsubject" name="subject" placeholder="Subject..." />

//                         <label for="fmessage" class="hidden">Message</label>
//                         <textarea id="fmessage" name="message" rows="5" placeholder="Message..."></textarea>
//                         <button type="submit">Submit</button>
//                     </div>
//                 </form>
//             </div>


//new form with js, error and success styling for form input fields

.input-control.success input, 
.input-control.success textarea {
    border-color: green;
}
.error input, .error textarea {
    border-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.1);
    color: darkred;
}
.error input::placeholder, 
.error textarea::placeholder {
    color: rgba(139, 0, 0, 0.8);
}