#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    @include dm {
        h2, address {
            color: $c-burger;
        }
    }
}
//information before form starts
.info {
    margin-bottom: 20px;
}
#form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    row-gap: 10px;
    #message {
        flex-grow: 2;
        font-family: "Plus Jakarta Sans", sans-serif;
        height: 150px;
        
    }
    
    #fmessage {
        height: 100%;
        margin-bottom: 10px;
        padding-top: 5px;
    }
    button {
        margin-top: 30px;
        height: 50px;
        padding: 0 15px;
        font-size: 20px;
        color: darken($c-sidebar, 20%);
        box-shadow: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        &:hover {
            cursor: pointer;
        }
        &:focus-visible {
            outline-color: rgba($c-sidebar, 0.5);
            outline-style: inset;
            box-shadow: 0px 2px 2px $c-sidebar;
            @include dm {
                    outline-color: $c-burger;
            }
        }
            @include dm {
                color: $c-burger-bg;
            }
    }
}
.default-input {
    height: 50px;
    padding: 0 15px;
    margin: 5px 0;
    font-size: 20px;
    color: darken($c-sidebar, 20%);
    box-shadow: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    @include dm {
        color: black;
    }
    &:focus-visible {
        outline-color: rgba($c-sidebar, 0.5);
        outline-style: inset;
        box-shadow: 0px 2px 2px $c-sidebar;
        @include dm {
                outline-color: $c-burger;
        }
    }
    @include dm {
        color: $c-burger-bg;
    }
}

@include lg {
    #contact {
        min-height: 90vh;
    }
    #form {
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        margin: 0 auto;
        padding: 10px 0;
        gap: 10px;
        align-items: flex-end;
    }
    #first-name,
    #number,
    #email,
    #subject {
        flex: 45%;
    }
    button {
        width: 90vw;
    }
    #fmessage {
        height: 100%;

    }
}
//form labels for screen readers but hidden from view
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
    white-space: nowrap; 
}
//form container
.formcont {
    background-color: rgba($c-sidebar, 0.25);
    padding: 32px;
    margin-bottom: 48px;
    border-radius: 4px;
    // box-shadow: 0 4px 16px rgba($c-burger-bg-hov, 0.15);
    max-width: 700px;
    max-height: 750px;
    @include lg {
        margin: 0 auto;
        margin-bottom: 48px;
    }
    @include xl {
        max-width: 900px;
    }
    @include ls {
        margin: 0 auto;
        width: 500px;
    }
}

//new form with js, error and success styling for form input fields

.input-control.success input, 
.input-control.success textarea {
    border-color: green;
}
// .error input, .error textarea {
//     border-color: rgb(255, 0, 0);
//     background-color: rgba(255, 0, 0, 0.1);
//     color: darkred;
//     @include dm {
//         background-color: rgb(197, 91, 91);
//     }
// }
// .error input::placeholder, 
// .error textarea::placeholder {
//     color: rgba(139, 0, 0, 0.8);
// }
.input-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-control label {
    font-size: 20px;
    color: $c-burger-bg;
    @include dm {
        color: $c-burger;
    }
}
.error-php {
    border-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.1);
    color: darkred;
    @include dm {
        background-color: rgb(197, 91, 91);
    }
}

 #success-msg {
    text-align: center;
    background-color: lightgreen;
    padding: 35px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
#p {
    font-size: 16px;
    //text-align: center;
}
 #success-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
 }
 .error-msg {
    color: red;
    font-size: 12px;
 }