#examples {
    // height: 40vh;
    @include ls {
        min-height: 100vh;
    }
    @include dm {
    }
    p {
        max-width: 900px;
        text-align: center;
    }
}
.example-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
