footer {
    margin: 20px auto;
    > * {
        display: block;
    }
    a {
        padding-bottom: 20px;
    }
    text-align: center;
    @include md {
        padding-left: $sidebar-width;
    }
}