footer {
    padding: 20px 0;
    margin: 0 auto;
    a {
        padding-bottom: 20px;
        color: $c-burger-bg-hov;
        display: block;
            &:hover {
                text-decoration: underline;
                color: $c-burger-bg;
                @include dm {
                    &:hover {
                    color: $c-burger;
                }
            }
        }
    }
    text-align: center;
    @include md {
        padding-left: $sidebar-width;
    }
    @include dm {
        small, a {
            color: $c-burger;
        }
    }

}
    @include ls {
        footer {
        margin: 0 auto;
        padding-left: $sidebar-width;
    }
}