footer {
    margin: 20px auto;
    > * {
        display: block;
    }
    a {
        padding-bottom: 20px;
        color: $c-burger-bg-hov;
        &:hover {
            text-decoration: underline;
            color: $c-burger-bg;
        }
    }
    text-align: center;
    @include md {
        padding-left: $sidebar-width;
    }
}