footer {
    margin: 20px auto;
    > * {
        display: block;
    }
    a {
        padding-bottom: 20px;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
    text-align: center;
    @include md {
        padding-left: $sidebar-width;
    }
}