.backsplash {
    background-image: url("../img/backsplash3.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: $c-head-txt;
    font-size: 20px;
    @include ls {
            font-size: 20px;
        }
    #introtext {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include md {
            padding-left: $sidebar-width;
            font-size: 25px;
            @include ls {
                padding-left: 0;
                font-size: 20px;
                text-wrap: wrap;
            }
        }
        @include ls {
            padding-left: 0;
            h1 {
                font-size: 20px;
                text-wrap: wrap;
            }
        }
        //works as outline around font so it can be read on any colour background
        h1, p {
        text-shadow:
        -1px -1px 0 $c-burger-bg,  
        1px -1px 0 $c-burger-bg,
        -1px 1px 0 $c-burger-bg,
        1px 1px 0 $c-burger-bg;
        }
        h1 {
            @include ls {
                padding-left: 0;
                font-size: 20px;
                text-wrap: wrap;
            }
        }
    }

    //scroll down text
    .scroll {
        position: absolute;
        bottom: -50px;
        left: 50%;
        font-size: 30px;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        
        @include ls {
            display: none;
        }
        p {
        }
        @include md {
            padding-left: $sidebar-width;
            bottom: 0;
            @include ls {
                display: none;
            }
        }
    }
    @include md {
        font-size: 30px;
    }
}