
.backsplash {
    background-image: url("../img/backsplash3.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: $c-head-txt;
    font-size: 20px;
    #introtext {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include md {
            padding-left: $sidebar-width;
        }
        h1, p {
        text-shadow:
        -1px -1px 0 $c-burger-bg,  
        1px -1px 0 $c-burger-bg,
        -1px 1px 0 $c-burger-bg,
        1px 1px 0 $c-burger-bg;
        }
    }
    .scroll {
        position: absolute;
        bottom: -50px;
        left: 50%;
        font-size: 30px;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        p {
        }
        @include md {
            padding-left: $sidebar-width;
            bottom: 0;
        }
    }
    @include md {
        font-size: 30px;
    }
}