.backsplash {
    background-image: url("../img/backsplash3.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: $c-head-txt;
    font-size: 20px;
    @include ls {
            font-size: 20px;
        }
    #introtext {
        display: flex;
        flex-direction: column;
        // width: 50vw;
        max-width: 50vw;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        @include sm {
            font-size: 20px;
        }
        @include md {
            padding-left: $sidebar-width;
            font-size: 20px;
            max-width: none;
        } 
        @include sm {
            font-size: 24px;
        } //landscape phone
        @include ls {
            padding-left: $sidebar-width;
            h1 {
                white-space: nowrap;
            }
        }
        //works as outline around font so it can be read on any colour background
        h1, p {
        text-shadow:
        -1px -1px 0 $c-burger-bg,  
        1px -1px 0 $c-burger-bg,
        -1px 1px 0 $c-burger-bg,
        1px 1px 0 $c-burger-bg;
        }
        h1 {
            @include ls {
                padding-left: 0;
                font-size: 40px;
                text-wrap: wrap;
            }
        }
    }

    //scroll down text
    .scroll {
        position: absolute;
        bottom: -50px;
        left: 50%;
        font-size: 30px;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        
        @include ls {
            display: none;
        }
        p {
        }
        @include md {
            padding-left: $sidebar-width;
            bottom: 0;
            @include ls {
                display: none;
            }
        }
    }
    @include md {
        font-size: 30px;
    }
}

// name animation
.anim-name {
    display: flex;
    white-space: pre-wrap;
    flex-direction: row;
    color: #eee;
    cursor: pointer;
    span {
        white-space: pre;
        opacity: 0;
        transform: translate(-2px,4px) scale(.9);
        animation: fadeIn .4s ease-out forwards;
    }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0,0) scale(1);
  }
}
//overlay that shades screen on burger button click
.burger-clicked::after {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    content: "";
}