
.porpro {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    gap: 4%;
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        @include lg {
            height: 110px;
        }
    }
    .project {
        flex: 100%;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        // padding: 5px;
        top: 0;
        transition: top .6s ease;
        position: relative;
        &::after {
        content: "";
        position: absolute;
        left: 5px;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: currentColor;
        transition: width .3s ease;
        }
        &:hover::after {
            width: calc(100% - 10px);
        }
        &:hover, &:target, &:active, &:focus {
            top: -10px;
            transition: top .6s ease, box-shadow 0.6s ease;
        img {
            box-shadow: 0 5px 30px rgba($c-burger-bg, 0.25);
            filter: brightness(80%);
            transition: filter 1s ease;
        }
        .cl {
            filter: brightness(80%);
            transition: filter 1s ease;
        }
        // h3 {
        //     font-size: 15px;
        //     height: 50px;
        // }
        // .hov-me {
        //     visibility: visible;
        //     max-height: 150px;
        //     transition: max-height 0.6s ease;
        // }
    }
        @include sm {
            margin-bottom: 80px;
        }
        @include md {
            img {
                max-width: 100%;
            }
            
        }
        @include lg {
            flex: 48%;
        }
    }
    a {
        color: $c-burger-bg;
        // &:hover {
        //     p {
        //         display: none;
        //     }
        // }
    }
    img {
        margin: 5px auto;
        border-radius: 5px;
        @include dm {
            opacity: 0.75;
            transition: opacity .5s ease-in-out;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.proj {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    min-height: 450px;
    max-height: 1800px;
        // @include sm {
        //     min-height: 550px;
        // }
        // @include md {
        //     min-height: 750px;
        // }
    img {
        max-width: 100%;
        object-fit: scale-down;
    }
}
#portfolio {
    @include dm {
    }
}

// coding used tabs on portfolio imgs

.cl {
    position: absolute;
    top: 0;
    z-index: 5;
    color: $c-burger;
    border-radius: 6%;
    font-size: 12px;
    padding: 2px;
    margin-top: 5px;
    margin-right: 2px;
    @include sm {
        font-size: 18px;
        padding: 4px;
    }
}
.html {
    background-color: blue;
    right: 5%;
}
.css {
    background-color: red;
    right: 20%;
}
.pyt {
    background-color: rgb(255, 187, 0);
    right: 45%;
}
.js {
    background-color: green;
    right: 45%;
}
.project-text {
    display: flex;
    flex-direction: column;
    min-height: 175px;
    width: 100%;
    @include md {
        min-height: 222px;
    }
}
.view-project {
    margin-top: 0;
    margin-bottom: 20px;
    transition: 0s;
    // position: relative;
    // top: 80%;
}
.hover-split {
    width: 100%;
    display: flex;
    flex-direction: column;
    // text-wrap: nowrap;
    // min-width: 220px;
    // max-width: 450px;
    // margin: 10px auto; 
    // position: relative;
    // top: 25%;
    // left: 0;
    // transform: translate(-50%,-50%);
    font-size: 22px; 
    color: $c-burger-bg;
    // margin-top: 50px;
    // @include sm {
    //     // top: 10%;
    // }
    // @include sm {
    //     font-size: 30px;
    // }
    // @include lg {
    //     font-size: 35px;
    //     // left: 50%;
    //     // top: 85%;
    // }
    @include md {
        font-size: 35px;
    }
}
.hover-split span:nth-child(1) {
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: clip;
    transform: translateY(28px);
    font-size: 22px;
    text-wrap: nowrap;
    @include md {
        transform: translateY(21px);
        font-size: 33px; 
    }
    @include lg {
        // overflow: visible;
        transform: translateY(20px);
    }
}
.hover-split:hover span:nth-child(1) {
    transform: translateY(0);
    @include md {
        transform: translateY(0);
    }
}
.hover-split span:nth-child(2) {
    text-wrap: nowrap;
    transition: 0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: clip;
    font-size: 22px;
    @include md {
        font-size: 33px;
        transform: translateY(-20px);
    }
    @include lg {
        // overflow: visible;
        transform: translateY(-21px);
    }
}
.hover-split:hover span:nth-child(2) {
    transform: translateY(70px);
}
.hover-split span:nth-child(3) {
    font-size: 14px;
    transform: translateY(-50%) scaleY(0);
    @include md {
        font-size: 20px;
    }
    @include lg {
        transform: translateY(-42px) scaleY(0);
    }
}
.hover-split:hover span:nth-child(3) {
    transform: translateY(-50%) scaleY(1);
    @include lg {
        transform: translateY(-42px) scaleY(1);
    }
}
// .hover-split span:nth-child(1){
//   position: fixed;
//   bottom: 55%; 
//   left: 50%; 
//   color: $c-burger-bg;
//   transition: 0.5s;
//   clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
//   overflow: hidden;
//   transform: translateX(-50%);
//   @include sm {
//         bottom: 40%;
//     }
// }
// .hover-split:hover span:nth-child(1){
//   transform: translateY(-65px) translateX(-50%);
// //   transform: translateX(-50%);
//     @include md {
//         transform: translateY(-85px);
//     }
// }
// .hover-split span:nth-child(2){
//   position: fixed;
//   margin-bottom: 30px;
//   bottom: calc( 55% - 30px ); 
//   left: 50%; 
//   color: $c-burger-bg;
//   transition: 0.5s;
//   clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
//   overflow: hidden;
//   transform: translateX(-50%);
//   @include sm {
//         bottom: calc( 40% - 30px );
//     }
// }
// .hover-splith2:hover span:nth-child(2){
//   transform: translateY(65px);
//   @include md {
//         transform:translateY(-85px);
//     }
// }

// .hover-split span:nth-child(3){
//   position: fixed;
//   bottom: 55%; 
//   left: 50%;
//   transform: translateY(-50%) translateX(-50%) scaleY(0);
//   min-width: 220px;
//   max-width: 450px;
//   color: $c-burger-bg;
//   font-size: 13px;
//   @include sm {
//         bottom: 42%;
//     }
//   @include md {
//         // transform:translateY(-30%) translateX(-50%) scaleY(0);
//     }
//   @include lg {
//     font-size: 15px;
//     // top: 15%; 
//     // left: 0;
//     // width: 95%;
//   }
//   font-weight: 500;
//   text-align: center;
// //   padding-left: 20px;
// //   margin-left: 5px;
//   transition:0.5s;
// }
// .hover-split:hover span:nth-child(3){
//   transform: translateY(-50%) translateX(-50%) scaleY(1);
//   @include md {
//         // transform: translateY(-30%) translateX(-50%) scaleY(1);
//     }
// }
// .hover-split:hover {
//     // margin-top: 60px;
//     transition: 0s;
// }

// $screen-sm: 576px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;