
.porpro {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    gap: 4%;
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        @include lg {
            height: 110px;
        }
    }
    .project {
        flex: 100%;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        // padding: 5px;
        top: 0;
        transition: top .6s ease;
        position: relative;
        &::after {
        content: "";
        position: absolute;
        left: 5px;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: currentColor;
        transition: width .3s ease;
        }
        &:hover::after {
            width: calc(100% - 10px);
        }
        &:hover, &:target, &:active, &:focus {
            top: -10px;
            transition: top .6s ease, box-shadow 0.6s ease;
        img {
            box-shadow: 0 5px 30px rgba($c-burger-bg, 0.25);
            filter: brightness(80%);
            transition: filter 1s ease;
        }
        .cl {
            filter: brightness(80%);
            transition: filter 1s ease;
        }
        h3 {
            font-size: 15px;
            height: 50px;
        }
        .hov-me {
            display: block;
        }
    }
        @include md {
            img {
                max-width: 100%;
            }
        }
        @include lg {
            flex: 48%;
        }
    }
    a {
        color: $c-burger-bg;
        &:hover {
            h3, p {
                color: $c-burger-bg-hov;
            }
        }
    }
    img {
        margin: 5px auto;
        border-radius: 5px;
        @include dm {
            opacity: 0.75;
            transition: opacity .5s ease-in-out;
        }
        &:hover {
            opacity: 1;
        }
    }
}
.hov-me {
    display: none;
}
.proj {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    img {
        max-width: 100%;
        object-fit: scale-down;
    }
}
#portfolio {
    @include dm {
    }
}

// coding used tabs on portfolio imgs

.cl {
    position: absolute;
    top: 0;
    z-index: 5;
    color: $c-burger;
    border-radius: 6%;
    font-size: 12px;
    padding: 2px;
    margin-top: 5px;
    margin-right: 2px;
    @include sm {
        font-size: 18px;
        padding: 4px;
    }
}
.html {
    background-color: blue;
    right: 5%;
}
.css {
    background-color: red;
    right: 20%;
}
.pyt {
    background-color: green;
    right: 45%;
}