// flex container that holds all the PORtfolio PROjects
.porpro {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    gap: 4%;
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        @include lg {
            height: 110px;
        }
    }
    //the anchor tags for each project
    .project {
        flex: 100%;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        // padding: 5px;
        top: 0;
        transition: top .6s ease;
        position: relative;
        &::after {
        content: "";
        position: absolute;
        left: 5px;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: currentColor;
        transition: width .3s ease;
        }
        &:hover::after {
            width: calc(100% - 10px);
        }
        &:hover, &:target, &:active, &:focus {
            top: -10px;
            transition: top .6s ease, box-shadow 0.6s ease;
        img {
            box-shadow: 0 5px 30px rgba($c-burger-bg, 0.25);
            filter: brightness(80%);
            transition: filter 1s ease;
        }
        .cl {
            filter: brightness(80%);
            transition: filter 1s ease;
        }
    }
        @include sm {
            margin-bottom: 80px;
        }
        @include md {
            img {
                max-width: 100%;
            }
            
        }
        @include lg {
            flex: 48%;
        }
    }
    a {
        color: $c-burger-bg;
    }
    img {
        margin: 5px auto;
        border-radius: 5px;
        @include dm {
            opacity: 0.75;
            transition: opacity .5s ease-in-out;
        }
        &:hover {
            opacity: 1;
        }
    }
}
//the divs and everything inside each .project anchor tag
.proj {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    min-height: 450px;
    max-height: 1800px;
    img {
        max-width: 100%;
        object-fit: scale-down;
    }
}
#portfolio {
    @include dm {
    }
}

// coding used tabs on portfolio imgs
// I don't remember what I meant by cl... Coding Language?
.cl {
    position: absolute;
    top: 0;
    z-index: 5;
    color: $c-burger;
    border-radius: 6%;
    font-size: 12px;
    padding: 2px;
    margin-top: 5px;
    margin-right: 2px;
    @include sm {
        font-size: 18px;
        padding: 4px;
    }
}
.html {
    background-color: blue;
    right: 5%;
}
.css {
    background-color: red;
    right: 20%;
}
.pyt {
    background-color: rgb(255, 187, 0);
    right: 45%;
}
.js {
    background-color: green;
    right: 45%;
}
.project-text {
    display: flex;
    flex-direction: column;
    min-height: 175px;
    width: 100%;
    @include md {
        min-height: 222px;
    }
}
.view-project {
    margin-top: 0;
    margin-bottom: 20px;
    transition: 0s;
}
//controls the styling for the project titles that 'split' open to
//show a description. class name changes controlled by JS
.hover-split {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px; 
    color: $c-burger-bg;
    @include md {
        font-size: 35px;
    }
}
//first child = first copy of title
.hover-split span:nth-child(1) {
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: clip;
    transform: translateY(28px);
    font-size: 22px;
    text-wrap: nowrap;
    @include md {
        transform: translateY(21px);
        font-size: 33px; 
    }
    @include lg {
        transform: translateY(20px);
    }
}
.hover-split:hover span:nth-child(1),
.hover-split:target span:nth-child(1),
.hover-split:active span:nth-child(1),
.hover-split:focus span:nth-child(1) {
    transform: translateY(0);
    @include md {
        transform: translateY(0);
    }
}
//second child = second copy of title
.hover-split span:nth-child(2) {
    text-wrap: nowrap;
    transition: 0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: clip;
    font-size: 22px;
    @include md {
        font-size: 33px;
        transform: translateY(-20px);
    }
    @include lg {
        transform: translateY(-21px);
    }
}
.hover-split:hover span:nth-child(2),
.hover-split:target span:nth-child(2),
.hover-split:active span:nth-child(2),
.hover-split:focus span:nth-child(2) {
    transform: translateY(70px);
}
//third child = description of project
.hover-split span:nth-child(3) {
    font-size: 14px;
    transform: translateY(-50%) scaleY(0);
    @include md {
        font-size: 20px;
    }
    @include lg {
        transform: translateY(-42px) scaleY(0);
    }
}
.hover-split:hover span:nth-child(3),
.hover-split:target span:nth-child(3),
.hover-split:active span:nth-child(3),
.hover-split:focus span:nth-child(3) {
    transform: translateY(-50%) scaleY(1);
    @include lg {
        transform: translateY(-42px) scaleY(1);
    }
}
