#scs {
    min-height: auto;
    h2 {
        text-align: center;
        color: $c-burger-bg;
        letter-spacing: 0.5px;
    }
    @include dm {
        h2 {
            color: $c-burger;
        }
    }
}
//experiment start
// wip - stacking cards

    // .articles {
    //     position: relative;
    //     height: auto;
    //     max-width: 900px;
    //     // width: 90vw;
    //     top: 60px;
    //     left: 0%;
    //     display: flex;
    //     flex-direction: column;
    //     margin: 0 auto;
    //     // margin-left: -$sidebar-width;
    //     @include lg {
    //         flex-direction: row;
    //     }
    //     a:hover {
    //         text-decoration: underline;
    //     }
    // }
    // .scs {
    //     display: flex;
    //     flex-direction: column;
    //     max-height: 600px;
    //     min-height: 400px;
    //     max-width: 700px;
    //     background-color: rgba($c-sidebar, 0.25);
    //     box-shadow: 0 4px 16px rgba($c-burger-bg-hov, 0.15);
    //     transition: 0.4s ease-out;
    //     position: relative;
    //     left: 0px;
    //     padding: 32px;
    //     border-radius: 12px;
    //     margin-bottom: 32px;
    //     @include lg {
    //         max-width: 30vw;
    //     }
    // }
    // @include lg {
    // .scs:not(:first-child) {
    //     margin-top: -50px;
    //         margin-top: 0;
    //         margin-left: -50px;
    //     }
    //     .scs:hover, .scs:active {
    //     transform: translateY(-20px);
    //     transition: 0.4s ease-out;
    //     }
    //     .scs:hover ~ .scs {
    //         position: relative;
    //         left: 150px;
    //         transition: 0.4s ease-out;
    //     }
    // }
    // .scs:hover, .scs:active {
    //     transform: translateY(-20px);
    //     transition: 0.4s ease-out;
    // }
    // .scs:hover ~ .scs {
    //     position: relative;
    //     top: 20px;
    //     transition: 0.4s ease-out;
    // }
    // .scs {
    //     h3 {
    //         color: $c-burger-bg;
    //         margin-top: 0;

    //         @include sm {
    //         margin-bottom: 0; 
    //         }
    //     }
    //     p {
    //         color: $c-burger-bg-hov;
    //         line-height: 1.6;
    //         text-align: justify;
    //         font-size: 16px;
    //         margin: auto 0;
    //     }
    // }
    
    



//experiment end


//original vvv
.scs {
    background-color: rgba($c-sidebar, 0.25);
    padding: 25px;
    margin: 0 auto 48px;
    border-radius: 12px;
    // box-shadow: 0 4px 16px rgba($c-burger-bg-hov, 0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    max-width: 700px;
    h3 {
        color: $c-burger-bg;
        margin-top: 0;
        margin-bottom: 36px;
        @include sm {
            margin-bottom: 40px;  
        }
        @include md {
            margin-bottom: 45px;  
        }
        @include lg {
            margin-bottom: 48px;  
        }
    }
    p {
        color: $c-burger-bg-hov;
        line-height: 1.6;
        // text-align: initial;
        text-align: justify;
        font-size: 16px;
        @include lg {
            font-size: 18px;
            padding: 0 3px;
        }
    }
    &:hover, &:active {
        transform: scale(1.05) translateY(-4px);
        box-shadow: 0 8px 8px rgba($c-burger-bg, 0.35);
        a {
            font-size: 20px;
        }
    }
    a {
        color: $c-burger-bg-hov;
        &:hover {
            text-decoration: underline;
            font-size: 20px;
            }
        }
}

@include lg {
    #scs {
        padding: 64px 32px;
    }
    .scs {
        max-width: 700px;
        padding: 30px;
    }
}
@include xl {
    .scs {
        max-width: 900px;
    }
}
