#scs {
    
    p {
        text-align: justify;
        text-justify: inter-word;
        border: 2px solid $c-burger-bg-hov;
        border-radius: 5px;
        padding: 10px;
    }
}
.scs {
    @include lg {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.scs1 {
    margin-bottom: 50px;
}