.burger {
    @include style-reset;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 63px;
    height: 56px;
    background-color: $c-burger-bg;
    border-radius: 3px;
        &:hover {
           background-color: $c-burger-bg-hov; 
        }
        .mid {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35px;
        height: 4px;
        background-color: $c-burger;
        transform: translate(-50%, -50%);
        transition: 0.4s;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 4px;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.4s;
                background-color: $c-burger;
}
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
    }
    @include md {
        display: none;
    }
    @include ls {
        display: inline-block;
    }
}

//the big initial K
.sb-item-k {
    height: 190px;
    width: 190px;
    display: flex;
    align-items: center;
    font-size: 100px;
    border: 2px solid;
    border-radius: 50%;
    border-color: $c-burger-bg;
    margin-bottom: 25px;
    overflow: hidden;
    &:hover #initial {
        // Absolutely too much, but it was fun
        // background-image: radial-gradient(
        // circle at top left,
        // #ec407a,
        // #ec407a 20%,
        // #7e57c2 20%,
        // #7e57c2 40%,
        // #42a5f5 40%,
        // #42a5f5 60%,
        // #26a69a 60%,
        // #26a69a 80%,
        // #9ccc65 80%
        // );
        transform: rotate(360deg);
        transition: transform 1s ease, background 1s ease;
        overflow: hidden;
    }
}
//sidebar buttons, not including social media or K
.btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        height: 100%;
        color: inherit;
        border-radius: 2px;
        transition: background .5s, transform .5s;
        &:hover {
            background-color: $c-burger;
            transform: translate(2px,-2px);
        }
        &:focus-visible {
            background-color: $c-burger;
        }
        
    }

.sb-item {
    font-size: 20px;
    width: auto;
    height: 60px;
    text-decoration: none;
    padding: 5px 0;
    text-align: center;
    list-style: none;
    &:focus-visible {
            background-color: $c-burger;
            border: none;
        }
}
#sidebar {
    display: none;
    @include md {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0;
        padding: 0;
        width: $sidebar-width;
        background-color: $c-sidebar;
        position: fixed;
        height: 100%;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        // border-right: 1px solid $c-burger-bg;
        z-index: 2;
        @include dm {
            background-color: $c-sidebar-dk;
        }
        a {
            display: flex;
            align-items: center;
            margin: 0 auto;
            color: $c-burger-bg;
            text-align: center; 
            @include dm {
                color: $c-burger;
                background-color: $c-sidebar-dk;
            &:hover {
                background-color: $c-burger-bg-hov;
            }
            }
        }
    }
    .sidebar {
        padding: 0;
        height: 90vh;
    }
    @include ls {
            display: none;
        }
}

//soc media buttons

@each $name, $color in $soc-med-colors {
    .soc-med--#{$name} svg {
        stroke: $c-burger;
        fill: $c-burger;
        color: $c-burger;
        display: inline-block;
        height: 32px;
        width: 32px;
        transition: background .5s, transform .1s ease;
        transform: scale(1);
        
    }
  .soc-med--#{$name}:hover {
        background-color: $color;
        border-color: transparent;
        cursor: pointer;
        transition: background .2s, transform .1s ease;
        transform: scale(1.1);
        border-radius: 2px;
        @include dm {
            background-color: $color;
        }
    }
  }

#social-media {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: $sidebar-width;
    padding: 10px 5px;
    gap: 10px;
    li {
        list-style: none;
        background-color: $c-burger-bg;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: inherit;
            
        }
    }
}
