// Colour Variables

$c-sidebar: #9DB2BF;
$c-burger: #DDE6ED;
$c-burger-bg: #27374D;
$c-burger-bg-hov: #526D82;
$c-head-txt: #DDE6ED;

// $c-sidebar: #9DB2BF;
// $c-burger: #DDE6ED;
// $c-burger-bg: #27374D;
// $c-burger-bg-hov: #526D82;
// $c-head-txt: #DDE6ED;

// $c-sidebar: #BF9169;
// $c-burger: #F2B680;
// $c-burger-bg: #0D0D0D;
// $c-burger-bg-hov: #16260F;
// $c-head-txt: #8C6F56;