// Colour Variables

// $c-sidebar: #9DB2BF;
// $c-burger: #DDE6ED;
// $c-burger-bg: #27374D;
// $c-burger-bg-hov: #526D82;
// $c-head-txt: #DDE6ED;


$c-head-txt: #adcbd8;
$c-burger: #ced1d4;
$c-sidebar: #7886a9;
$c-burger-bg-hov: #254472;
$c-burger-bg: #302c47;

// $c-head-txt: #ddede7;
// $c-burger: #ddede5;
// $c-sidebar: #9dbfb2;
// $c-burger-bg-hov: #526D82;
// $c-burger-bg: #274d2f;

// $c-sidebar: #F2809F;
// $c-burger: #F2DEA0;
// $c-burger-bg: #8C2323;
// $c-burger-bg-hov: #94A60F;
// $c-head-txt: #488C46;

// $c-sidebar: #BF9169;
// $c-burger: #F2B680;
// $c-burger-bg: #0D0D0D;
// $c-burger-bg-hov: #16260F;
// $c-head-txt: #8C6F56;




// Soc media colours

$c-etsy: #f1641e;
$c-inst: #d93175;
$c-tumblr: #001935;
$c-kat: #622fa5;

$soc-med-colors: (
    etsy: $c-etsy,
    inst: $c-inst,
    tumb: $c-tumblr,
    kat: $c-kat
);