* {
    box-sizing: border-box;
}
section {
    overflow-anchor: none;
}
main {
    overflow-x: hidden;
    h1, h2, h3 {
        color: $c-burger-bg;
        font-weight: 600;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 700;
        @include sm {
            font-size: 64px;
            margin-bottom: 64px;
        }
    }
    h3 {
        font-size: 25px;
        
        @include sm {
            font-size: 32px;
        }
        @include md {
            font-size: 35px;
        }
        @include xl {
            height: auto;
        }
    }
    p {
        color: $c-burger-bg;
        font-size: 20px;
        font-weight: 500;
    }
}
body {
    margin: 0;
    background-color: $c-burger;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    @include dm {
        background-color: $c-burger-bg;
    }
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}