//breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content; 
        }
}
@mixin md {
    @media (min-width: #{$screen-md}) {
        @content; 
    }
}
@mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content; 
    }
}
@mixin xl {
    @media (min-width: #{$screen-xl}) {
        @content; 
    }
}


//dark mode
@mixin dm { 
    @media (prefers-color-scheme: dark) {
      body {
        background-color: $c-burger-bg;
      }
        p, h1, h2, h3, img, a {
        color: $c-burger;
            .btn:hover {
                color: $c-sidebar;
            }
        }
        @content;
        #sidebar {
          background-color: $c-sidebar-dk;
        }
    }
}

//should cover most phones landscape
@mixin ls {
    @media only screen 
    and (min-device-width: 374px) 
    and (max-device-width: 1000px) 
    and (orientation: landscape) { 
        @content;
    }
}

//dark mode??

@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .cs-sun {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  body.dark-mode #dark-mode-toggle .cs-moon {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
  #dark-mode-toggle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3.75rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
  }
  #dark-mode-toggle img,
  #dark-mode-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5625rem;
    height: 1.5625rem;
    pointer-events: none;
  }
  #dark-mode-toggle .cs-moon {
    z-index: 2;
    transition: transform 0.3s,
                opacity 0.3s,
                fill 0.3s;
    fill: #000;
  }
  #dark-mode-toggle .cs-sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.3s,
                opacity 0.3s;
  }
}
/* Desktop */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 1.875rem;
    margin-bottom: 0rem;
  }
  #dark-mode-toggle .cs-moon {
    /* change to whatever you need it to be */
    /* fill: #fff; */
  }
}