//breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content; 
        }
}
@mixin md {
    @media (min-width: #{$screen-md}) {
        @content; 
    }
}
@mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content; 
    }
}
@mixin xl {
    @media (min-width: #{$screen-xl}) {
        @content; 
    }
}


//dark mode
@mixin dm { 
    @media (prefers-color-scheme: dark) {
        background-color: $c-burger-bg-hov;
        p, h1, h2, h3, img, a {
        color: $c-burger;
            &:hover {
                color: $c-sidebar;
            }
        }
        @content;
    }
}

//should cover most phones landscape
@mixin ls {
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 1000px) 
    and (orientation: landscape) { 
        @content;
    }
}