$sidebar-width: 225px;
// $sidebar-width: 0px;

//mixin for style reset for default browser styling
@mixin style-reset {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: inherit;
    color: inherit;
    line-height: 0;
    @content;
}
