$sidebar-width: 225px;
// $sidebar-width: 0px;

//mixin for style reset for default browser styling
@mixin style-reset {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: inherit;
    color: inherit;
    line-height: 0;
    @content;
}

//makes section slide in, controlled by JS
@keyframes slide-in {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}

.container-default {
    position: relative;
    margin-left: -100%;
    padding: 0;
    overflow: visible;
}
.is-visible {
    animation: slide-in alternate forwards;
}
.containerid {
    margin: 0 auto;
    border-bottom: 4px solid lighten($c-burger-bg, 10%);
    padding: 50px 30px;
}

