$sidebar-width: 225px;

@mixin style-reset {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: inherit;
    color: inherit;
    line-height: 0;
    @content;
}
